html {
	overflow-x: hidden;
	box-sizing: border-box;
	height: 100%;
}

body {
	width: 100%;
	overflow: hidden;
	font-family: 'Segoe UI';
	font-style: normal;
	color: #303030;
	background-color: #fff;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* если делать кастомный чекбок */

/* textarea, input, select {
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
} */

textarea, select {
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

option,
option:hover,
option:focus {
	border: none;
	outline: none;
	box-shadow: none;
	color: #333;
}

:active, :focus {
	outline: none;
}

ul {
    list-style-type: none;
}

a, a:focus, a:hover, a:active a:visited {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Segoe UI';
	font-weight: bold;
	color: #333;
}

p {
	font-family: 'Segoe UI';
	font-size: 16px;
	line-height: 21px;
	color: #333;
}

input {
    width: 200px;
    height: 30px;
    padding: 0 9px;
	border: 1px solid #DADADA;
	background-color: transparent;
    color: #333333;
    font-size: 16px;
    line-height: 20px;
}

input[type=checkbox] {
	width: 15px;
	height: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color ease-in-out 0s;
	transition-delay: 5000s;
}

input:invalid {
	border-color: #FF2727;
}

input::placeholder {
    color: #333333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input:disabled,
select:disabled,
option:disabled,
textarea:disabled {
	background-color: #E9E9E9;
}

select {
    width: 200px;
    height: 30px;
	padding: 0 25px 0 9px;

	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #999999;
	
    border: 1px solid #DADADA;
    background: url("../img/select-arrow.svg") no-repeat center;
	background-size: 16px 8px;
	-webkit-appearance: none;
    background-position-x: 97%;
    cursor: pointer;
}

textarea {
	padding: 7px 20px;
	background-color: transparent;
	border: 1px solid #DADADA;
	color: #333333;
    font-size: 16px;
    line-height: 20px;
}

textarea::placeholder {
	color: #333333;
}

input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
	border: 1px solid #ffd500;
}

[type="radio"] {
	width: 14px;
	cursor: pointer;
}


.main__container {
	display: flex;
	width: 100%;
	padding: 0 20px;
}



.exchange {
	width: 100%;
	margin-top: 23px;
}

.exchange__title {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #333333;
}

.exchange__header {
	display: flex; 
	align-items: center;
	justify-content: space-between;
	margin-top: 18px;
}

.available_score {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
}

.parent_score {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #FFD500;
	margin-left: 11px;
}

.cart_shop_wrapper {
	position: relative;
}

.cart_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #FFD500;
	box-shadow: 0px 2px 8px rgba(255, 213, 0, 0.48);
	position: relative;
}

#cart_shop_value {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 27px;
	top: -2px;
	border-radius: 50px;
	background: #FF2727;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	line-height: 13px;
	color: #FFFFFF;
}

.sort_wrapper {
	margin-top: 10px;
}

.sort_wrapper label {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	margin-right: 3px;
}

.gift__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.gift__item {
	width: 280px;
	margin-bottom: 40px;
}

.cost_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.picture_size {
	width: 208px;
	height: 139px;
}

.cost_info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 50px;
}

.state_style {
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #999999;
}

.state_style img {
	width: 15px;
	height: 10px;
	margin-right: 5px;
}

.cost_block {
	display: flex;
	align-items: center;
	font-family: 'Segoe UI';
	color: #333333;
	line-height: 14px;
}

.cost {
	font-weight: bold;
	font-size: 18px;
	margin-right: 5px;
}

.cost_block>div {
	font-weight: normal;
	font-size: 15px;
}

.gift__title, .gift__description {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 15px;
	line-height: 14px;
	color: #333333;
}

.gift__title {
	margin-top: 10px;
	font-weight: 600;
}

.gift__description {
	margin-top: 10px;
	line-height: 20px;
}

.cart-gift {
	margin-top: 22px;
}

.cart-gift__item {
	position: relative;
	border-bottom: 2px solid #F0F5F9;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.cart-gift__item img {
	width: 90px;
	height: 70px;
}

.cart-gift__item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
	height: 70px;
}

.cart-gift__item-info p {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 13px;
	line-height: 14px;
	color: #999999;
}

.card_shop_name {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;
	color: #333333;
	max-width: 86%;
}

.card_shop_delete_button {
	position: absolute;
	top: -1px;
	right: 0;
	cursor: pointer;
}

.add-more {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.card_shop_num_wrapper {
	display: flex;
	align-items: center;
	
}

.card_shop_num_operation {
	font-family: 'Segoe UI';
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	font-weight: bold;
	font-size: 15px;
	color: #333333;
	background-color: #FFD500;
	box-shadow: 0px 2px 6px rgba(255, 213, 0, 0.58);
	border-radius: 50px;
	padding-bottom: 2px;
}

.card_shop_num {
	font-family: 'Segoe UI';
	display: flex;
	justify-content: center;
	width: 38px;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
}

.card_shop_score__wrapper {
	font-family: 'Segoe UI';
	display: flex;
	align-items: center;
	margin-left: 40px;
	font-weight: normal;
	font-size: 13px;
	color: #333333;
}

.card_shop_score_good {
	font-size: 15px;
	margin-right: 4px;
}

.total_score__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}

.total_score__inner p {
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
	color: #333333;
}

.total_score__inner p:first-child {
	color: #ffd500;
}

.total_score__inner p:last-child span {
	font-size: 15px;
}

.card_shop_user_info {
	font-family: 'Segoe UI';
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 15px;
}

.user-info>div {
	margin-bottom: 10px;
}

.recipient_wrapper label {
	font-size: 12px;
}

.phone_total_sum {
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 15px;
}

.phone_input {
	margin-bottom: 15px;
}

.phone_delete {
	cursor: pointer;
}

.phone_add span {
	color: #039E12;
	font-size: 15px;
	font-weight: bold;
	margin-right: 5px;
}

.phone_line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.phone_line .phone_number,
.phone_line .phone_sum,
.phone_line p {
	font-weight: bold;
}

.oil_label_block {
	display: flex;
	width: 60px;
}

.oil_item {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.oil_label {
	margin-left: 7px;
}

.oil_number {
	width: 40px;
	height: 25px;
	background-color: transparent;
	border: none;
	text-align: center;
}

.oil_title {
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	color: #333333;
	margin-bottom: 15px;
}

.oil_number:disabled {
	background-color: transparent;
}

.sign_input {
	font-family: 'Segoe UI';
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	font-weight: bold;
	font-size: 15px;
	color: #333333;
	background-color: #fff;
	box-shadow: 0px 2px 6px rgba(218, 218, 218, 0.73);
	border-radius: 50px;
	padding-bottom: 2px;
}

.sign_input--active {
	background-color: #FFD500;
	box-shadow: 0px 2px 6px rgba(255, 213, 0, 0.58);
}

/* ======================================
	pop up/modal общие стили
====================================== */

#cart-box_background {
    opacity: .7 !important;
}

.cart-box_close,
.p-error-no-points_close,
.p-are-u-sure_close,
.p-residue-mobile_close,
.p-order-done_close {
    position: absolute;
    top: 25px;
	right: 16px;
    border: none;
    width: 11px;
    height: 11px;
    background: url("../img/close-icon.svg") no-repeat center;
    cursor: pointer;
}

.cart-box_close span,
.p-error-no-points_close span,
.p-are-u-sure_close span,
.p-residue-mobile_close span,
.p-order-done_close span {
    display: none;
}

/* pop up общие стили */
.popup-main {
	width: 100%;
	max-width: 280px;
    height: 100%;
    background-color: #fff;
    padding: 25px 15px;
    position: relative;
}

/* Pop-up Уведомления, общие стили*/
.popup-notify {
	display: flex;
	align-items: center;
	padding: 50px 25px;
	border: 2px solid #ffd500;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.26);
}

.popup-notify p {
	max-width: 348px;
	width: 100%;
	margin-top: 17px;
}

.popup-notify__title{
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}

.popup-icon {
	width: 58px;
	height: 53px;
}

.popup-btn-group {
	display: flex;
	align-items: flex-end;
	margin-top: 20px;	
}
.popup-btn-group img {
	margin-left: 50px;
}


/* ======================================
//              change_button
====================================== */

.change_button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 135px;
	height: 40px;
	font-size: 15px;
	color: #333;
	background: #ffd500;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background .6s ease;
	position: relative;
	top: auto;
	right: auto;
}

.change_button:hover {
	transition: background .6s ease;
	background: #575757;
	color: #fff;
}

.change_button:focus {
	outline: 0;
}

.change_button--white {
	border: 1px solid #808080;
	background-color: transparent;
}

.change_button--white:hover {
	border: 1px solid #FFD500;
	background-color: #F0F5F9;
	color: #000;
}


@media screen and (min-width: 375px) {
	.popup-main {
		max-width: 330px;
	}
}

@media screen and (min-width: 414px) {
	.popup-main {
		max-width: 360px;
	}
}

@media screen and (min-width: 500px) {
	.popup-main {
		max-width: 460px;
	}
}
@media screen and (min-width: 600px) {
	.gift__item {
		margin-right: 50px;
	}
	.gift__description {
		height: 70px;
		overflow-y: scroll;
	}
	.gift__description::-webkit-scrollbar {
		width: 3px;
		background-color: #ffffff;
	}
	.gift__description::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #ffd500;
	}
	
}

@media screen and (min-width: 700px) {
	.popup-main {
		width: 500px;
		max-width: 500px;
	}
}

@media screen and (min-width: 770px) {
	.exchange__header {
		max-width: 300px;
	}
}

@media screen and (min-width:1030px) {
	.popup-main {
		width: 700px;
		max-width: 700px;
	}
	.exchange__title {
		font-size: 24px;
	}
	.available_score {
		font-size: 20px;
	}
	.parent_score {
		font-size: 25px;
	}
	.cart_icon {
		width: 50px;
		height: 50px;
	}
	.cart_icon img {
		width: 25px;
	}
	#cart_shop_value {
		width: 25px;
		height: 25px;
		left: 28px;
		top: -6px;
		font-size: 14px;
		line-height: 18px;
	}
	.sort_wrapper label {
		font-size: 18px;
	}
	select {
		width: 250px;
		height: 40px;
		font-size: 18px;
	}
	.picture_size {
		width: 230px;
		height: 156px;
	}
	.gift__title, .gift__description {
		font-size: 18px;
		line-height: 20px;
	}
	.state_style {
		font-size: 18px;
		line-height: 18px;
	}
	.change_button {
		font-size: 18px;
	}
	.gift__item {
		width: 320px;
	}
	.gift__description {
		height: 85px;
	}
	p {
		font-size: 19px;
	}
	.cost_block p {
		line-height: 19px;
		font-size: 19px;
	}
	.cost {
		font-weight: bold;
		font-size: 22px;
		margin-right: 5px;
	}
}
